body {
    width: 100%;
}

#ng {
    display: none;
}

#hey {
    display: none;
}


.video_container img {
    width: 100%;
}

.video_container{
    width: 100%;
}

.video_container h3{
    width: 100%;
}

h1 {
    font-size: 100%;
}

.menu {
    display: none;
}

.redes {
    display: none;
}

.botonDescarga {
    width: 100% ;
}




